@import "~bootstrap/scss/bootstrap";

// HEADER
#jumbotron {
    height: 400px;
    background-image: url('../img/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

// MAIN
#main-top {
    background-color: #1C1C1C;

    .img-comic {
        width: 100%;
    }

    .comic-title {
        font-size: 14px;
    }
}

#main-bottom {
    padding: 2.5rem 0;
    background-color: #0282F9;

    img {
        height: 50px;
    }

    .main-text {
        font-size: 16px;
        color: white;
    }
}

// FOOTER-TOP
#ft-top {
    height: 350px;
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#ft-btm {
    background-color: #2C2C2C;
}